.header {
  width: 80%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #77002e;
  padding: 0 10%;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fcb8d2;
}

.header a:hover,
.header a:active,
.header a.active{
  color: white;
}

.user {
  margin-left: 5rem;
  text-transform: capitalize;
  background: none;
  border: none;
  color: #fcb8d2;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.user:hover {
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
}