.ItemsList{
    border: 5px solid gray;
    width: 32rem;
    height: 22rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: hidden;
    background-color: lightgray;
}

.ItemsList:hover{
    overflow-y: auto;
}

.Item, .ItemSelected{
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 10px;
    margin: 10px;
}

.ItemSelected{
    outline: 1px solid gray;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.refreshBtn{
    width: 8rem;
    
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #800040;
    color: white;
    border: none;
    margin: 0 1rem;
    margin-left: 3rem;
}

.refreshBtn:hover{
    background-color: #800040b9;
}

.tooltip{
    font-size: 1rem;
    color: white;
    background-color: gray;
    border: solid black;
    border-radius: 4px;
    padding: .5rem;
}

.deleteBtn{
    width: fit-content;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #800040;
    color: white;
    border: none;
    margin: 0 1rem;
    margin-left: 3rem;
}

.deleteBtn:hover{
    background-color: #800040b9;
}

.amount {
    position: absolute;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    transform: translate(2.1rem,1.4rem);
}

.containerItemList{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBar {
    font-size: 1rem;
}

.askPopup{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 3rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
  }
  
  .popupText {
    font-size: 2rem;
  }
  
  .cancelBtnPopup, .deleteBtnPopup{
    width: 10rem;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #800040;
    color: white;
    border: none;
    margin-top: 2rem;
  }
  
  
  .cancelBtnPopup:hover, .deleteBtnPopup:hover{
    background-color: #800040b9;
  }
  
  
  .cancelBtnPopup{
    margin-right: 4rem;
  }
  
  .deleteBtnPopup{
    margin-left: 4rem;
  }