.form {
  max-width: 20rem;
  height: 20rem;
  margin-top: 50%;
  text-align: center;
  border: 5px solid gray;
  background-color: lightgray;
  padding: 1rem;
}

form > input:first-child {
  margin-top: 3rem; 
}

.form input {
  margin-top: 3rem;
  padding: 6px 10px;
  border: 1px solid #ddd;
}

.form button {
    width: 10rem;
    background: #800040;
    color: #fff;
    border: 1px solid #77002e;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 3rem;
  }

.form button:hover {
    background: #800040b9;
}