.ItemsList{
  border: 5px solid gray;
  width: 40rem;
  min-height: 5rem;
  max-height: 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-y: hidden;
  background-color: lightgray;
}

.ItemsList:hover{
  overflow-y: auto;
}

.Item, .ItemSelected{
  width: fit-content;
  height: fit-content;
  display: flex;
  padding: 10px;
  margin: 10px;
}

.ItemSelected{
  outline: 1px solid gray;
}

.container{
  display: flex;
  flex-direction: rows;
  justify-content: center;
}

.tooltip{
  font-size: 1rem;
  color: white;
  background-color: gray;
  border: solid black;
  border-radius: 4px;
  padding: .5rem;
}

.trashcan {
  position: absolute;
  transform: translate(25rem,2rem);
}

.askPopup{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 3rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.popupText {
  font-size: 2rem;
}

.cancelBtnPopup, .addBtnPopup{
  width: 10rem;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: none;
  margin-top: 2rem;
}


.cancelBtnPopup:hover, .addBtnPopup:hover{
  background-color: #800040b9;
}


.cancelBtnPopup{
  margin-right: 4rem;
}

.addBtnPopup{
  margin-left: 4rem;
}

.inputAmount{
  margin-top: 2rem;
  font-size: 2rem;
  max-width: 8rem;
  min-width: 4rem;
  width: fit-content;
  text-align: center;
}