body {
  font-family: sans-serif;
  margin: 0px;
  background-color: #dfdfdf;
}

.craftOverlay {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not_found {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 3rem;
}

.backdrop {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.backdrop_dark {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.596);
  z-index: 1;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}